@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	max-width: 1440px;
	height: 100vh;
	background: linear-gradient(126.22deg, #f9ed32 4.79%, #d9bd32 54.4%);
	background-repeat: no-repeat;
	font-family: "Poppins", "Segoe UI", Tahoma;
	overflow: hidden;
	margin: 0 auto;
}

main {
	width: 70%;
	height: 95vh;
	border-radius: 25px;
	margin: 16px auto;
	background-color: #e6f3ffbf;
	display: flex;
	backdrop-filter: blur(3px);
	box-shadow: 0px 4px 4px 0px #00000040;
	border-radius: 25px;
	margin-left: auto;
}

main .img-div {
	background-color: transparent;
	width: 38%;
	height: 100%;
	position: relative;
	top: 0;
	right: 0;
}

main .img-div img {
	width: 75%;
	z-index: 999;
}

main .img-div .vector2 {
	position: absolute;
	top: 85px;
	left: 15px;
}
main .img-div .vector1 {
	position: absolute;
	top: 40px;
	right: -20px;
}
main .img-div .vector {
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 93%;
}
main .img-div .main-img {
	position: absolute;
	top: 110px;
	left: 28px;
	width: 65%;
}

main .form-div {
	width: 62%;
	height: 100%;
	padding: 30px 30px 20px 30px;
	border-radius: 25px;
	background-color: rgba(252, 254, 255, 1);
	z-index: 1000;
}

main .form-div form {
	width: 95%;
	height: 100%;
	margin: 5px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.form-div form h2 {
	font-family: "Poppins", "Segoe UI", Tahoma;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 100%;
	letter-spacing: 0%;
	color: rgba(0, 0, 0, 1);
	text-align: center;
	padding-bottom: 20px;
}

form .input-div {
	width: 100%;
	height: auto;
}

form .input-div label {
	font-family: "Poppins", "Segoe UI", Tahoma;
	font-weight: 500;
	font-size: 0.9rem;
	line-height: 100%;
}

form .input-div input {
	width: 100%;
	height: 50px;
	border: none;
	outline: none;
	border-radius: 18px;
	background-color: rgba(176, 186, 195, 0.4);
	font-family: "Poppins", "Segoe UI", Tahoma;
	font-weight: 400;
	font-size: 1rem;
	line-height: 100%;
	color: rgba(0, 0, 0, 0.5);
	padding: 0 27px;
}

form .form-btn {
	width: 210px;
	height: 45px;
	border-radius: 10px;
	background-color: rgba(249, 237, 50, 1);
	border: none;
	font-family: "Poppins", "Segoe UI", Tahoma;
	font-weight: 500;
	font-size: 1rem;
	cursor: pointer;
}

form .have-Acc {
	font-size: 0.9rem;
	color: rgba(124, 131, 138, 1);
	align-self: flex-start;
}

form span {
	color: rgba(249, 237, 50, 1);
}

form .or {
	font-size: 1rem;
}

form .signup-div {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 50px;
}

form .signup-div p {
	font-size: 0.8em;
}

form .signup-div .google,
form .signup-div .github {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 160px;
	height: 35px;
	border-radius: 15px;
	border: 1px solid #7c838a;
	gap: 5px;
	cursor: pointer;
}

form .signup-div img {
	width: 20px;
	height: 20px;
}

form .reserved {
	color: rgba(124, 131, 138, 1);
	font-size: 0.8rem;
	padding-bottom: 5px;
}

/* RWD */
@media screen and (max-width: 800px) {
	body {
		width: 100%;
		min-height: 100vh;
		background: none;
		font-family: "Poppins", "Segoe UI", Tahoma;
		overflow: scroll;
		margin: 0 auto;
	}

	main {
		width: 100%;
		height: 100vh;
		border-radius: 0px;
		margin: 0px auto;
		display: block;
		border-radius: 0px;
		margin-left: 0;
	}

	main .img-div {
		display: none;
	}

	main .form-div {
		width: 100%;
		height: 100%;
		padding: 30px 30px 30px 30px;
		border-radius: 0px;
		background-color: rgba(252, 254, 255, 1);
		z-index: 1000;
	}

	main .form-div form {
		width: 90%;
		height: 100%;
		margin: 0px auto;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	form .form-btn {
		width: 50%;
		height: 38px;
		border-radius: 10px;
		background-color: rgba(249, 237, 50, 1);
		border: none;
		font-family: "Poppins", "Segoe UI", Tahoma;
		font-weight: 500;
		font-size: 0.9rem;
	}

	form .signup-div {
		display: flex;
		gap: 20px;
	}

	form .signup-div p {
		font-size: 0.6em;
	}

	form .signup-div .google,
	form .signup-div .github {
		width: 140px;
		height: 30px;
	}
}
